<VirtualHost *:80>
  <Proxy *>
        Order deny,allow
        Allow from all
  </Proxy>

  ProxyPassMatch               /irods-cloud-backend/(.*)       ajp://localhost:8009/irods-cloud-backend/$1
</VirtualHost>
