/*
 *Backend app configuration
 *For app specific configs, prefix with beconf. for consistency 
 */


// use login preset
beconf.login.preset.host="localhost"
beconf.login.preset.port={{ icat_port }}
beconf.login.preset.zone="{{ icatzone }}"
beconf.login.preset.auth.type="PAM"
beconf.login.preset.enabled=false
